  <h3>add a link</h3>
  <label for="title">Title: </label>
  <input name="title" #nayatitle/>

  <label for="link">Link: </label>
  <input name="link" #nayalink/>


  <button (click)="addArticle(nayatitle, nayalink)">Add</button>


  <app-article *ngFor="let article of articles" [article]="article"></app-article>

  <div style="margin: 10px; border:black">
    <span>Color: </span>
    <input #colorElement>

    <br>

    <span>Font: </span>
    <input #fontElement>

    <button (click)="apply(colorElement, fontElement)">apply</button>

    <h2 [ngStyle]="{color: color, font: font}">Formatted Text!!</h2>
    <div [style.background-color]="color">Formatted Text!!</div>

  </div>

  <app-demo-form-sku></app-demo-form-sku>
